%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path }
          Cmilieu
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    - if user_signed_in?
      %ul.left
        %li.has-form
          = form_tag search_result_path, {:method => 'get', :style => "display:inline;"} do
            .row.collapse
              .large-8.small-9.columns
                = text_field_tag :search_text, params[:search_text]
              .large-4.small-3.columns
                = submit_tag "Search", class: 'button'
    - if user_signed_in?
      %ul.right
        %li.has-dropdown
          %a{href: "#"}= current_user.email
          %ul.dropdown
            %li
              %a{href: profile_path(current_user)} Profile
            %li.divider
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
