%h1= @profile.full_name

.row
  - if user_signed_in?
    - if @profile == current_user.profile
      %a.button{href:edit_profile_path} Edit

.row
  .large-3.columns
    %a.avatar.th{href: @profile.avatar_url }
      %img{src: @profile.avatar_url }
  .large-9.columns
    %table
      %tr
        %td ID
        %td= @profile.employee_id
      %tr
        %td Cell Phone
        %td= @profile.cell_phone
      %tr
        %td Address
        %td= @profile.address
      %tr
        %td Location
        %td= @profile.current_location
      %tr
        %td LinkedIn
        %td= @profile.linkedIn_profile
      %tr
        %td Github
        %td= @profile.github_profile
      %tr
        %td Twitter
        %td= @profile.twitter_profile
